
html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    overflow: hidden;
}

.sidebar{
    grid-column: 1 / 2 ;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 8fr ;
    background-color: rgb(37, 149, 212);
    color: white;
    gap: 2vh;

}
.sidebar > .dashboard{
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 1vw;
    align-items: center;
    font-size: 3vh;
    gap: 0.5vw;
}

.sidebar > .home-menu{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(6,1fr);
    padding: 1vw;
    align-items:center;
    gap:1vw;
    font-size: 2.5vh;
}

.sidebar > .setting-menu{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(3,1fr);
    padding: 1vw;
    align-items: center;
    gap: 1vw;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 2vh 3vw 2vh 3vw;
    align-items: center;
}

.main-container{
    grid-column: 2 / 3;
    grid-row: 2 / 3 ;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

.search-bar{
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
    display: grid;
    grid-template-columns: 1fr 28fr;
    gap:1vw;
    align-items: center;
}

.search-bar > input{
    font-size: 3vh;
    background-color: rgb(222, 230, 240);
    border-radius: 2vh;
    border: 0;
}

.upper-right{
    grid-column: 3 / 4;
    grid-row: 1 / 2 ;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}
.upper-right > .notification{
    grid-column: 2 / 3;
}
.upper-right > .user{
    font-weight: bold;
}

.user-name{
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 4fr;
    row-gap: 0.3vh;
    align-items: center;
}

.operations{
    grid-column: 3 / 4;
    grid-row: 2 / 3 ;
    display: grid;
    grid-template-columns: repeat(3,7vw);
    gap: 2vw;
    justify-content: end;
}
.operations > button{
    background-color: rgb(37, 149, 212);
    padding: 2vh 0 2vh 0;
    color: white;
    border-radius: 3vh;
    border: 0;
    font-size: 2vh;
}
.user-name > .icons{
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
}

.user-name > .greeting{
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
    font-size: 1.7vh;
    align-self:flex-end;
    font-weight: bolder;
}

.user-name > .user{
    grid-column: 2 / 4;
    grid-row: 2 / 3 ;
    font-size: 3vh;
    align-self:self-start;
    font-weight: bolder;
}

.main-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 4fr 3fr;
    background-color: rgb(222, 230, 240);
    padding: 1vw;
}

.main-container > .projects{
    grid-column: 1 / 3;
    grid-row: 1 / 3 ;
    padding-right: 1vw;
}

.main-container > .projects > .title{
    font-weight: bolder;
    font-size: 2vh;
}

.main-container > .announcements{
    grid-column: 3 / 4;
    grid-row: 1 / 2;   
}

.main-container > .trending{
    grid-column: 3 / 4;
    grid-row: 2 / 3;   
}

.main-container > .projects >.card-container{
    grid-row: 2 / 3 ;   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.main-container > .projects >.card-container >.card{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    border-radius: 1vh;
    padding: 3vh;
    border-left: inset 1vh #EEb328;
}



.main-container > .projects >.card-container >.card > .symbols{
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vh;
}

.main-container > .announcements > p{
    font-weight: bolder;
    font-size: 2vh;
}

.main-container > .announcements > .m-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 1vh;
    padding: 3vh;
    
}

.main-container > .announcements > .m-container > .message {
    border-bottom: 0.1vh solid grey;
    padding: 1.5vh;
}
.main-container > .announcements > .m-container > .message > .m-title{
    font-weight: bolder;
}


.main-container > .announcements > .m-container > .message > .text{
    color:rgb(86, 85, 85);
    font-size: 2vh;
}

.main-container > .trending > p{
    font-weight: bolder;
    font-size: 2vh;
}
.main-container > .trending > .u-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 3vh;
    border-radius: 1vh;
    gap: 2vh;
}

.main-container > .trending > .u-container > .user-list{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.main-container > .trending > .u-container > .user-list > .icons{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
}

.main-container > .trending > .u-container > .user-list {
    font-size: 1.5vh;
}

.main-container > .trending > .u-container > .user-list >  .text{
    color:rgb(86, 85, 85);
    grid-column: 2/3;
    grid-row: 2/3;
    align-self:start;    
}


.main-container > .trending > .u-container > .user-list >  .name{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;    
}
